.product-cards-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    margin-bottom: 5em;
  }
  

.product-card {
    width: 15em; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2cap;
    margin: 2em;
    text-align: center;
}
  
.product-card img {
    width: 100%; 
    height: auto;
}
  
.product-card p {
    color: #7B7070; 
    margin-top: 2em; 
}

.product-card h2{
    color: #fff; 
    padding: 0.5em;
}

  
